*.class

Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
install-sh
missing
.workdir
gitdescribe


# Package Files #
*.jar
*.war
*.ear
Doxyfile
htdocs
fctransfer.spec
fctransfer-0.3.tar.bz2
fctransfer-0.3.tar.gz
debug.txt
